[Desktop Entry]
Encoding=UTF-8
Name=Lien vers  
Type=Link
URL=https://outlook.office.com/owa/service.svc/s/GetFileAttachment?id=AAMkADFkMTI4ZTViLTQ0OTktNGMzOC04NGEyLTg1Y2I0ZTI0YTYwMQBGAAAAAAD%2FSQ%2FO%2FYiDTYVSRBDG1lO2BwDWB1rEDmR1RrYd19aSYb2cAAAAAAEMAADWB1rEDmR1RrYd19aSYb2cAAFanN6eAAABEgAQAMGLOF%2FaTKpPlpINHd00fqQ%3D&X-OWA-CANARY=h-bYKmwUzUyXXXKeup9mH_BhhaPmatQYtGOdDzop2_7rgdEZ1X1ilYj1bC-iqZM6Gxc01Xlg6yY.
Icon=text-html
